bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Psnfrt/.idea/.gitignore
/.idea/.idea.Psnfrt/.idea/encodings.xml
/.idea/.idea.Ticker/.idea/encodings.xml
/.idea/.idea.Psnfrt/.idea/indexLayout.xml
/.idea/.idea.Ticker/.idea/indexLayout.xml
/.idea/.idea.Psnfrt/.idea/misc.xml
/.idea/.idea.Ticker/.idea/modules.xml
/.idea/.idea.Ticker/.idea/projectSettingsUpdater.xml
/Psnfrt.sln.DotSettings.user
/.idea/.idea.Psnfrt/.idea/vcs.xml
/.idea/.idea.Ticker/.idea/vcs.xml
/.idea/.idea.Ticker/.idea/workspace.xml
